@{
    int publishid = ViewBag.publishid;

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<section class="wrapper">
    <h3>
        <i class="fa fa-angle-right"></i>
        <a href="/admin/admin/publishlist">出版社列表</a>/<a href="/admin/admin/booklist?publishid=@publishid">图书列表</a>/<a href="#">图书添加</a>
    </h3>
    <!-- BASIC FORM ELELEMNTS -->
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">

                <form class="form-horizontal style-form" action="/admin/admin/addsave" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">书名</label>
                        <div class="col-sm-10">
                            <input class="hidden" type="text" value="@publishid" id="publishid"/>
                            <input class="form-control" type="text" value="" name="name" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="phone" value="" id="type">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <div>
                                <input class="form-control" type="text" name="work" value="" id="price">
                            </div>
                        </div>
                    </div>  
                </form>
                <div>
                    <input type="submit" class="btn btn-primary" value="添加" onclick="send()"/>
                </div>
            </div>
        </div><!-- col-lg-12-->
    </div><!-- /row -->

</section><! --/wrapper -->

<script src="~/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
<script>
    function send() {
        $.ajax({
            type: 'POST',
            url: '/admin/admin/bookListAddSave',
            data: {
                publishid: $("#publishid").val(),
                name: $("#name").val(),
                type: $("#type").val(),
                price: $("#price").val(),
            },
            success: function (e) {
                alert(e);
                if (e == "添加成功") {
                    window.location.href = "/admin/admin/booklist?publishid=@publishid";
                }

            }
        });
    }
</script>

