
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutShop.cshtml";
}

<div class="jumbotron" style="background-image: url(/Other/timg.jpg); background-repeat: no-repeat; background-size: 100% 100%; -moz-background-size: 100% 100%;" >

    
   
    <h2>Hello,world!</h2>
    <p style="font-size:10px">这只是个简单的杂货铺</p>
    
</div>

