<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Areas.Admin.Models.Product.csdl|res://*/Areas.Admin.Models.Product.ssdl|res://*/Areas.Admin.Models.Product.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.132.239.215;initial catalog=15211160113;user id=14jb;password=14jb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Areas.Admin.Models.Product.csdl|res://*/Areas.Admin.Models.Product.ssdl|res://*/Areas.Admin.Models.Product.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.132.239.215;initial catalog=15211160113;user id=14jb;password=14jb;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Areas.Admin.Models.Product.csdl|res://*/Areas.Admin.Models.Product.ssdl|res://*/Areas.Admin.Models.Product.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.132.239.215;initial catalog=15211160113;user id=14jb;password=14jb;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities3" connectionString="metadata=res://*/Models.Library.csdl|res://*/Models.Library.ssdl|res://*/Models.Library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.132.239.215;initial catalog=15211160113-2;user id=14jb;password=14jb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities4" connectionString="metadata=res://*/Areas.Admin.Models.Library.csdl|res://*/Areas.Admin.Models.Library.ssdl|res://*/Areas.Admin.Models.Library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.132.239.215;initial catalog=15211160113-2;user id=14jb;password=14jb;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>